.App {
    /* background-color: #1b1b32; */
    background: #1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    height: 100vh;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    font-family: Lato, sans-serif;
    align-items: center;
    justify-content: center;
}

.titulo-calculadora {
    width: 100%;
    height: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 15px;
    padding: 14px;
}

.contenedor-calculadora {
    border: 5px solid white;
    width: 400px;
    /* height: 75%; */
    height: 625px;
    padding: 14px;
    background-color: black;
    border: 3px solid white;
    border-radius: 20px;
}

.fila {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}